@import url("variables.css");
@import url("header.css");
@import url("hero.css");

html {
    font-size: var(--fs-mobile);
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--clr-cream);
    background-color: var(--clr-black);
}

p {
    color: var(--clr-space-grey);
}

.temp {
    margin-top: 20rem;
}

/************** 
Utility classes
***************/

.max-width {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn {
    display: inline-block;

    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.25rem;
    transition: all 0.25s ease-out;
}

.btn--primary {
    border: 2px solid var(--clr-green);
    background-color: var(--clr-green-semi);
    padding: 1rem 2rem;
}

.btn--primary:hover {
    background-color: var(--clr-green);
}

.btn--secondary {
    border-bottom: 2px solid var(--clr-sand);
    color: var(--clr-sand);
    padding: 1rem;
}

.btn--secondary:hover {
    padding-bottom: 0.5rem;
}

.btn + .btn {
    margin-left: 1rem;
}

/************** 
Typography
***************/

h1 {
    text-align: center;
    font-size: 1.42rem;
    letter-spacing: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

h1 span {
    display: block;
}
