footer {
    margin-top: 7rem;
}

.pre-footer img {
    max-width: 90em;
    margin: 0 auto;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.footer__links li {
    cursor: pointer;
}

.footer__links a {
    color: white;
    text-decoration: none;
}

.social__container a {
    margin-right: 1rem;
}

footer address {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

footer address p {
    margin: 0;
}

footer address a i {
    font-size: 0.8em;
    margin-right: 0.25rem;
}

footer address a {
    color: inherit;
    text-decoration: none;
}

.footer__newsletter {
    margin: 2rem 0;
}

.footer__newsletter label {
    font-weight: 700;
}

.footer__newsletter input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    appearance: none;
}

.footer__acknowledge {
    font-size: 0.75rem;
    color: var(--clr-dark-grey);
}

/* Extra small phone sizes*/
@media screen and (max-width: 374px) {
    footer address p {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 45em) {
    footer address {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
