/*
Header
*/
header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.25s ease-out;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.4);
}

.header__inner {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.header__inner a {
    z-index: 1;
}

.logo {
    max-width: 150px;
}

.header__inner__burger {
    cursor: pointer;
    z-index: 1;
    position: relative;
    height: 1rem;
    width: 1.5rem;
}

.header__inner__burger.open {
    justify-content: center;
}

.burger-line {
    width: 1.5rem;
    height: 2px;
    background-color: var(--clr-white);
    position: absolute;
    right: 0;
}

.burger-line--top {
    top: 0;
    transition: all var(--speed-fast);
}

.burger-line--middle {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.125s linear, right var(--speed-fast);
}

.burger-line--bottom {
    bottom: 0;
    transition: all var(--speed-fast);
}

.header__inner__burger.open .burger-line--middle {
    right: 5rem;
    opacity: 0;
}

.header__inner__burger.open .burger-line--top {
    transform: rotate(-45deg);
    top: 44%;
}

.header__inner__burger.open .burger-line--bottom {
    transform: rotate(45deg);
    bottom: 44%;
}

.header__inner nav {
    background: black;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: right 0.25s ease-out, opacity 0.25s linear;
}

.header__inner nav.open {
    right: 0;
    opacity: 1;
}

.header__inner nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__inner nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-white);
    text-transform: uppercase;
    padding: 1.4rem;
    font-size: 1.5rem;
}

.header__inner nav ul li a.active__page,
.header__inner nav ul li:hover a,
.header__inner nav ul li:focus a {
    color: var(--clr-green-light);
}

/************** 
Media queries
***************/

@media screen and (min-width: 53em) {
    .header__inner__burger {
        display: none;
    }
    .header__inner nav {
        background: none;
        position: unset;
        width: auto;
        height: auto;
        opacity: 1;
    }
    .header__inner nav ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__inner nav ul li a {
        display: inline-block;
        text-decoration: none;
        text-transform: unset;
        padding: 0.25rem;
        font-size: 0.85rem;
    }
    .header__inner nav ul li {
        margin-right: 1rem;
    }
    .header__inner nav ul li:last-of-type {
        margin-right: 0;
    }
}
