.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__overlay,
.hero__overlay--short {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero__overlay--short {
    top: 40%;
    margin-bottom: -2px;
}

.hero__underlay {
    background: url(../img/photos/spaceflight/starbg_bright_tile.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hero--homepage {
    background: url(../img/photos/hero.jpg) bottom center / cover no-repeat;
    justify-content: space-between;
    padding: 11rem 1rem 9rem 1rem;
}

.hero--solarsystem {
    background: url(../img/photos/solar_system/sun_hero.jpg) no-repeat;
    background-size: cover;
    background-position: top -15rem center;
    justify-content: flex-end;
    padding-bottom: 9rem;
}

.hero--peopleInSpace {
    background: url(../img/photos/people_in_space/outer_atmos.jpg) no-repeat;
    background-size: cover;
    background-position: bottom -20rem center;
    position: relative;
    padding-top: 8rem;
    max-height: 720px;
    min-height: unset;
    margin-bottom: 4rem;
}

.hero--spaceflight {
    background: url(../img/photos/spaceflight/outer_atmos.png) no-repeat;
    background-size: cover;
    background-position: bottom -20rem center;
    position: relative;
    padding-top: 8rem;
    justify-content: center;
}

.hero--spaceflight__inner {
}

.hero--mars {
    background: url(../img/photos/weather_on_mars/mars_south_pole.jpg) no-repeat;
    background-size: 150%;
    background-position: top center;
    position: relative;
    justify-content: flex-end;
    padding: 8rem 0 0 0;
}

.hero--launches {
    background: url(../img/photos/launches/liftoff.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    justify-content: flex-end;
    padding: 11rem 3rem;
}

.hero h1 {
    opacity: 0;
    transform: translateY(75px);
    animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 45em) {
    .hero--mars {
        background-size: contain;
    }
}

@media screen and (min-width: 90em) {
    .hero--solarsystem {
        background-size: 100%;
        background-position-x: center;
        justify-content: flex-end;
        padding-bottom: 9rem;
    }
}
