/************** 
Homepage
***************/

/************** 
Site intro
***************/

.site__intro p {
    padding: 1rem;
    /* animation: fadeUp 0.5s ease-in-out forwards;
    opacity: 0;
    transform: translateY(15px);
    animation-delay: 0.5s; */
}

/************** 
Homepage about section
***************/

.about {
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}

.about * {
    margin-left: auto;
    margin-right: auto;
}

.about img {
    margin-bottom: 3rem;
}

.about p {
    margin-left: auto;
    margin-right: auto;
    max-width: 48ch;
}

.about a {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.about h2 {
    margin-top: 2rem;
}

/************** 
Feature cards
***************/
.feature__cards {
    display: grid;
    margin-top: 10rem;
}

.feature__card {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 3rem;
    border-top: 1px solid #464646;
}

.feature__card:last-of-type {
    border-bottom: 1px solid #464646;
}

.feature__card__icon {
    font-size: 5rem;
    color: var(--clr-white);
    margin-bottom: 1rem;
}

.fa-rocket {
    animation: rocketLaunch 1s ease-in-out alternate infinite,
        rocketShake 0.2s linear infinite;
    transform: translateY(0.5rem) rotate(-45deg);
}

@keyframes rocketLaunch {
    100% {
        transform: translateY(-0.25rem) rotate(-45deg);
    }
}

@keyframes rocketShake {
    0% {
        margin-left: -1px;
    }
    100% {
        margin-left: 1px;
    }
}

.feature__card svg {
    max-height: 90px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#wave1,
#wave2 {
    animation: wavePulse 1s linear infinite;
    transform-origin: center;
}

@keyframes wavePulse {
    0% {
        transform: scale(1) translate(0);
        opacity: 0.25;
    }
    100% {
        transform: scale(1.25) translate(2.75rem, -2.75rem);
        opacity: 0;
    }
}

#head {
    animation: headBob 0.75s ease-in-out alternate infinite;
    transform-origin: center;
}

@keyframes headBob {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

#planet03,
#planet02,
#planet01 {
    animation: planetRotate linear infinite;
    transform-origin: center;
}

#planet01 {
    animation-duration: 20s;
}

#planet02 {
    animation-duration: 15s;
}

#planet03 {
    animation-duration: 10s;
}

@keyframes planetRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.feature__card__blurb {
    margin-bottom: 2rem;
}

/************** 
Media queries
***************/

@media screen and (min-width: 45em) {
    .feature__cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 960px;
        margin: 10rem auto 10rem auto;
    }

    .feature__card {
        display: grid;
        place-items: center;
        border: 1px solid #464646;
    }

    .about img {
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 80em) {
    .site__intro h1 {
        font-size: 4rem;
        font-size: clamp(3rem, 3vw, 5rem);
        line-height: 1;
    }
}
