/************** 
Launches
***************/
.hero--launches p {
    margin-top: 1rem;
    position: relative;
    text-align: center;
    color: var(--clr-white);
    z-index: 2;
}
.launches {
    margin-top: 5rem;
    /* border-bottom: 1px solid var(--clr-dark-grey); */
    padding-bottom: 4rem;
}

.launches a {
    margin-top: 2rem;
}

.tba__text {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-dark-grey);
    animation: tba_pulse 1s linear alternate infinite;
}

@keyframes tba_pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.error__message {
    color: var(--clr-danger);
    font-weight: 700;
    animation: blink 1s infinite;
    opacity: 0;
}

@keyframes blink {
    to {
        opacity: 1;
    }
}

.launch {
    padding: 2rem 0;
    border-bottom: 1px solid var(--clr-dark-grey);
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 2rem;
}

.launch:first-of-type {
    padding-top: 0;
}

.launch__date-box {
    border: 1px solid var(--clr-white);
    padding: 1rem;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.launch__day,
.launch__month {
    margin: 0;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.launch__day {
    font-size: 1.75rem;
}

.launch__month {
    font-size: 0.85rem;
}

.launch h3 {
    font-weight: 400;
}

.launch__description {
    margin-bottom: 0;
}

.launch__link {
    display: block;
    margin-top: 1rem;
    color: var(--clr-white);
    transition: 0.25s ease-out;
}

.launch__link:hover {
    color: var(--clr-white);
    opacity: 0.5;
}
