/************** 
Next launch featured on homepage
***************/
.hero--launches p {
    margin-top: 1rem;
    position: relative;
    text-align: center;
    color: var(--clr-white);
    z-index: 2;
}

.feature__launches {
    padding-top: 4rem;
}

/************** 
Upcomming launches page
***************/

.launches {
    margin-top: 5rem;
    padding-bottom: 4rem;
}

.launches a {
    margin-top: 2rem;
}

.launch {
    padding: 2rem 0;
    border-bottom: 1px solid var(--clr-dark-grey);
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 2rem;
}

.launch:first-of-type {
    padding-top: 0;
}

.launch__date-box {
    border: 1px solid var(--clr-white);
    padding: 1rem;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.launch__day,
.launch__month {
    margin: 0;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.launch__day {
    font-size: 1.75rem;
}

.launch__month {
    font-size: 0.85rem;
}

.launch h3 {
    font-weight: 400;
}

.launch__description {
    margin-bottom: 0;
}

.launch__link {
    display: block;
    margin-top: 1rem;
    color: var(--clr-white);
    transition: 0.25s ease-out;
}

.launch__link:hover {
    color: var(--clr-white);
    opacity: 0.5;
}

@media screen and (min-width: 45em) {
    .feature__launches__grid {
        margin-bottom: 3rem;
    }

    .feature__launches__grid h2 {
        padding-right: 4rem;
        border-right: 1px solid var(--clr-space-grey);
    }

    .feature__launches__grid,
    .launches__grid {
        display: grid;
        grid-template-columns: min-content auto;
        grid-gap: 4rem;
        position: relative;
    }

    .launches__grid h2 {
        margin-top: 0.85rem;
        position: sticky;
        top: 5rem;
        align-self: start;
    }
}
