.news {
    margin-top: 2rem;
    padding-left: 2rem;
}

.news h2 {
    text-align: center;
    padding-right: 2rem;
}

.news__container {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}

.news__card {
    min-width: 200px;
    max-width: 200px;
    box-shadow: -1rem 0 3rem var(--clr-black);
    transition: all var(--speed-fast);
    background-color: var(--clr-cream);
    overflow: hidden;
    border-radius: 10px;
}

.news__card:not(:first-child) {
    margin-left: -2rem;
}

.news__card:hover ~ .news__card,
.news__card:focus-within ~ .news__card {
    transform: translateX(40px);
}

.news__card:hover,
.news__card:focus-within {
    transform: translateY(-1rem);
}

.news__card__date-field {
    display: block;
    margin-bottom: 0.5rem;
}

.news__card__img {
    margin: 0;
    height: 120px;
    object-fit: cover;
}

.news__card__text {
    color: var(--clr-black);
    padding: 1rem;
    margin: 0;
}

.news__card__text small {
    color: rgb(78, 78, 78);
}

.news__card__title {
    color: var(--clr-green-dark);
    transition: color 0.125s linear;
}

.news__card__title h3 {
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    font-size: 1rem;
}

.news__card__title:hover {
    color: var(--clr-green);
}

.news__card__site {
    display: block;
    margin-bottom: 0;
    font-size: 0.85rem;
}

.news__card__site span {
    font-weight: 700;
}

@media screen and (min-width: 45em) {
    .news {
        margin-top: 4rem;
        padding-left: 0;
    }

    .news__container {
        max-width: var(--maxWidth);
        margin-left: auto;
        margin-right: auto;
    }

    .news__card {
        min-width: 250px;
    }

    .news__card:not(:first-child) {
        margin-left: -3rem;
    }

    .news__card:hover ~ .news__card,
    .news__card:focus-within ~ .news__card {
        transform: translateX(70px);
    }

    .news__card__img {
        height: 220px;
    }
}

@media screen and (min-width: 80em) {
    .news {
        padding: 0 2rem;
    }
    .news__container {
        max-width: var(--maxWidth--extra);
    }
}
