/************** 
Solar system
***************/

.solarsystem--blk-bg {
    background: black;
}

.hero--solarsystem--inner {
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    width: 100%;
    padding: 7rem 0 4rem 0;
}

.solarsystem__illustration {
    max-width: 25rem;
    margin: 1rem;
    width: 50%;
    fill: var(--clr-cream);
    overflow: visible;
}

.chevron {
    animation: chevronBounce 1s ease-in-out alternate infinite;
}

@keyframes chevronBounce {
    100% {
        transform: translateY(1rem);
    }
}

.swipe__indicator {
    padding: 0 2rem;
}

.swipe__indicator i {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    animation: swipe 0.75s ease-in-out alternate infinite;
}

@keyframes swipe {
    100% {
        transform: translateX(6px) rotate(12deg);
    }
}

/************** 
Planets
***************/

.planets {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    position: relative;
    margin-bottom: 1.3rem;
}

.planet {
    padding: 0 2rem;
    width: 100vw;
    min-width: 100vw;
    height: 80vh;
    max-height: 550px;
    scroll-snap-align: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    overflow: hidden;
}

.planet__text {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planet__image {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    transform: translateY(2.25rem);
    max-width: 320px;
    margin: 0 auto;
}

.planet__top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.planet__bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(1px);
}

.planet__heading {
    padding-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.planet__number {
    position: absolute;
    z-index: -1;
    top: -60%;
    left: 0;
    font-size: 8.5rem;
    font-weight: 900;
    color: var(--clr-red);
    opacity: 0.75;
}

@supports (-webkit-text-stroke: 3px var(--clr-red)) {
    .planet__number {
        -webkit-text-stroke: 3px var(--clr-red);
        -webkit-text-fill-color: black;
    }
}

.planet__tagline {
    font-weight: 200;
    font-size: 0.9rem;
    margin: 0 0 0.55rem 0;
    line-height: 1;
    color: var(--clr-white);
    margin-left: 4rem;
}

.planet__name {
    font-size: 3rem;
    margin: 0;
    line-height: 1;
}

.planet__description {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 0;
}

.planet__facts {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.9rem;
    padding: 2rem 0;
}

.planet__fact p {
    color: var(--clr-white);
    margin: 0;
    line-height: 1.4;
}

.planet__fact__type {
    font-weight: 700;
}

/************** 
Other worlds
***************/
.about__solarsystem {
    margin-top: 8rem;
}

/************** 
Media queries
***************/

@media screen and (max-width: 350px) {
    .planet__top {
        padding-top: 0.1rem;
    }

    .planet__image {
        max-width: 250px;
        margin: 0 auto;
    }

    .planet__description {
        font-size: 0.8rem;
        line-height: 1.5;
    }
}

@media screen and (min-width: 36em) {
    .swipe__indicator {
        display: none;
    }

    .planets {
        overflow: hidden;
        scroll-snap-type: none;
        display: block;
        margin: 9rem auto;
        max-width: 90em;
    }

    .planet {
        width: auto;
        min-width: unset;
        padding: 0 2rem;
        min-height: 720px;
        height: auto;
        max-height: none;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        align-items: stretch;
        overflow: visible;
    }

    .planet__text {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        z-index: 1;
        display: block;
        align-self: center;
        padding-left: 4vw;
    }

    .planet__facts {
        padding: 2rem 0 0 0;
    }

    .planet__image {
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        transform: translateY(0);
        object-fit: contain;
        max-width: unset;
    }
}

@media screen and (min-width: 55em) {
    .hero--solarsystem--inner {
        margin-top: 4rem;
        display: grid;
        grid-gap: 3rem;
    }
    .planet {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (min-width: 90em) {
    .planet {
        grid-template-columns: 1fr 3fr;
    }

    .planet__text {
        padding-left: 0;
    }
}
