:root {
    --clr-danger: #ff8800;
    --clr-red: #660000;
    --clr-cream: #f0efe0;
    --clr-space-grey: #bdbdbd;
    --clr-dark-grey: #272626;
    --clr-green: #0c574e;
    --clr-green-light: #00c4ad;
    --clr-green-semi: #0c574e70;
    --clr-sand: #d0a270;
    --clr-black: #000;
    --clr-white: #fff;
    --maxWidth: 960px;
    --fs-mobile: 14px;
    --fs-desktop: 16px;
    --speed-fast: 0.125s cubic-bezier(0.9, 0.5, 0.63, 1.48);
    --speed-medius: 0.4s cubic-bezier(0.9, 0.5, 0.62, 1.27);
    --speed-slow: 1s cubic-bezier(0.9, 0.5, 0.62, 1.27);
}
