:root {
    --clr-cream: #f8f7ec;
    --clr-space-grey: #afafaf;
    --clr-green: #0c574e;
    --clr-green-semi: #0c574e40;
    --clr-sand: #d0a270;
    --clr-black: #000;
    --clr-white: #fff;
    --maxWidth: 960px;
    --fs-mobile: 14px;
    --fs-desktop: 16px;
    --vw-mobile: 640px;
}
