:root {
    --clr-danger: #ff8800;
    --clr-red: #850000;
    --clr-cream: #f0efe0;
    --clr-space-grey: #bdbdbd;
    --clr-dark-grey: #272626;
    --clr-green: #0c574e;
    --clr-green-light: #00c4ad;
    --clr-green-dark: #000f0d;
    --clr-green-semi: #00302b;
    --clr-sand: #d0a270;
    --clr-black: rgb(20, 20, 20);
    --clr-black--trans: rgba(20, 20, 20, 0);
    --clr-white: #fff;
    --clr-uranus: #c9f3f6;
    --maxWidth: 960px;
    --maxWidth--extra: 1280px;
    --fs-mobile: 14px;
    --fs-desktop: 16px;
    --speed-fast: 0.125s cubic-bezier(0.9, 0.5, 0.63, 1.48);
    --speed-medius: 0.4s cubic-bezier(0.9, 0.5, 0.63, 1.48);
    --speed-slow: 1s cubic-bezier(0.9, 0.5, 0.63, 1.48);

    /* Colors from hero image */
    --clr-space-blue: #4c5573;
    --clr-moon-blue: #8d93a6;
    --clr-space-green: #293d47;
    --clr-rocket-flame: #f9d289;
}
